<a href="https://colab.research.google.com/github/hossameldinramadan/70-M/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 3

### Write a function to count the number 4 in a given list.

In [2]:
def count(n):
  for i in range (0,len(n)):
    if n[i] == 4 :
      print (n[i])

In [3]:
count([3,4,6,4,8,4])

4
4
4

### write a  function to check whether a number is divisible by another number.

In [5]:
def dev_check(x,y):
  if x%y==0:
    print("{} is divisble by {}".format(x,y))
  else:
    print(" {} is not divible by {}".format(x,y))

In [6]:
dev_check(4,2)

4 is divisble by 2

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [7]:
def maxmin(no):
  mx=max(no)
  mn=min(no)
  print("max is {} and min is {}".format(mx,mn))

In [8]:
no=2,3,5,9,7

In [9]:
maxmin(no)

max is 9 and min is 2

### Write a Python function that takes two lists and returns True if they have at least one common member.

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

### Write a  program to create the multiplication table (from 1 to 10) of a number.

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19