<a href="https://colab.research.google.com/github/hossameldinramadan/70-M/blob/main/Assignment_3_COMPLETED.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 3

### Write a function to count the number 4 in a given list.

In [ ]:
def count(n):
  for i in range (0,len(n)):
    if n[i] == 4 :
      print (n[i])

In [ ]:
count([3,4,6,4,8,4])

4
4
4

### write a  function to check whether a number is divisible by another number.

In [ ]:
def dev_check(x,y):
  if x%y==0:
    print("{} is divisble by {}".format(x,y))
  else:
    print(" {} is not divible by {}".format(x,y))

In [ ]:
dev_check(4,2)

4 is divisble by 2

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [ ]:
def maxmin(no):
  mx=max(no)
  mn=min(no)
  print("max is {} and min is {}".format(mx,mn))

In [ ]:
no=2,3,5,9,7

In [ ]:
maxmin(no)

max is 9 and min is 2

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
def list_comp(L1,L2):
  for p1 in range(0,len(L1)):
    for p2 in range (0,len(L2)):
      if L1[p1]-L2[p2]==0:
        print("\033[1;32m","True")
        print("\033[1;34m","for element {}---> index {},in list L1".format(L1[p1],p1))
        print("\033[1;35m","--->index {},in list L2".format(p2))
      else:
          pass

In [ ]:
L1=[1,2,3,4,5]
L2=[5,6,7,8,9]

In [ ]:
list_comp(L1,L2)

 True
 for element 5---> index 4,in list L1
 --->index 0,in list L2

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [ ]:
def fact(x):
  if x==0:
   return 1
  else:
     return x*(fact(x-1))

In [ ]:
y=int(input("please type a no---->"))
fact(y)

please type a no---->5

120

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [ ]:
def chk(r):
  x=range(3,12)
  if r in x :
    print ("\033[1;32m","true")
  else:
     print("\033[1;33m","false")

In [ ]:
chk(2)

 false

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [ ]:
def mlt(x):
  for i in range(1,11):
    y=x*i
    print(x,"X",i,"=",y)
    i=i+1

In [ ]:
mlt(4)

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [2]:
def lessoftwo(x,y):
  if x%2==0 and y%2==0:
    z=min(x,y)
    print("Both are","\033[1;35m","EVEN")
    print("The minimum is--->",z)
    pass
  else:
    if x%2==0 :
      print("The even no is {} and the odd is {}".format(x,y))
      z=max(x,y) 
      print("The maximum is--->",z)
      pass
    elif y%2==0:
      print("the even no is {} and the odd is {}".format(y,x))  
      z=max(x,y)
      print("The maximum is--->",z)
      pass
    else:
      print("both are odd")  
      z=max(x,y)
      print("The maximum is--->",z)

In [5]:
lessoftwo(2,4)

Both are  EVEN
The minimum is---> 2

In [6]:
lessoftwo(2,5)

The even no is 2 and the odd is 5
The maximum is---> 5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [8]:
def mchwrd(x):
  x0=list(x.split())
  for i in range(1,len(x0)):
    if x0[0][0]== x0[i][0]:
      print("true")
    else :
      print("false")

In [10]:
p="Levelheaded Llama"
mchwrd(p)

true

In [11]:
v="Crazy Kangaroo"
mchwrd(v)

false

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [13]:
def twny(x,y):
  if x+y==20 or x==20 or y==20:
    print("true")
  else:
    print("false")

In [16]:
twny(20,10);twny(12,8);twny(2,3)

true
true
false

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [18]:
def r10(x):
  x0=abs(x)
  if x0 in range(90,110) or x0 in range(190,210):
    print("true")
  else:
    print("false")

In [19]:
r10(90);r10(104);r10(150);r10(209)

true
true
false
true

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [21]:
def bj(x,y,z):
  x in range(0,11);y in range(0,11);z in range(0,11)
  sum=x+y+z
  if sum <= 21 :
    print(sum)
  elif sum>21 and (x-11==0 or y-11==0 or z-11==0):
    nsum=sum-10
    print(nsum)  
  else:
    print("bust")

In [22]:
bj(5,6,7);bj(9,9,9);bj(9,9,11)

18
bust
19