<a href="https://colab.research.google.com/github/hossameldinramadan/70-M/blob/main/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# please enter any sequence of numbers

In [3]:
x= input("Kindly enter the sequence HERE ")

Kindly enter the sequence HERE 123456789

In [10]:
# x as LIST
x_list = list(x)
print (x_list)
type (x_list)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

list

In [18]:
# x as TUPLE
x_tuple=tuple(x)
print (x_tuple)
type (x_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9')

tuple